<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<h5 class="my-3 border-bottom pb-2">질문등록</h5>
		<form th:action="@{/question/create}" th:object="${questionForm}" method="post"> <!-- th:object를 사용하여 폼의 속성들이 QuestionForm의 속성들로 구성된다는 점을 타임리프 엔진에 알려줘야 한다. -->
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}"> <!-- #fields.hasAnyErrors가 true인 경우는 QuestionForm 검증이 실패한 경우 -->
																							<!-- alert alert-danger 클래스를 사용하여 오류는 붉은 색으로 표시 -->
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}" /> <!-- #fields.allErrors() : QuestionForm에서 검증에 실패한 오류 메시지 -->
			</div>
			<div class="mb-3">
				<label for="subject" class="form-label">제목</label>
				<!-- <input type="text" name="subject" id="subject" class="form-control"> -->
				<input type="text" th:field="*{subject}" class="form-control"> <!-- th:field : id, name, value 속성이 모두 자동으로 생성 -->
																			   <!-- 타임리프가 value 속성에 기존 값을 채워 넣어 오류가 발생하더라도 기존에 입력한 값이 유지 -->
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<!-- <textarea name="content" id="content" class="form-control" rows="10"></textarea> -->
				<textarea th:field="*{content}" class="form-control" rows="10"></textarea> 
			</div>
			<input type="submit" value="저장하기" class="btn btn-primary my-2">
		</form>
	</div>
</html>